<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         bootstrap="vendor/autoload.php" 
         colors="true" 
         processIsolation="false" 
         stopOnFailure="false" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/logs/coverage.txt"/>
    </report>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./tests</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
    <testdoxHtml outputFile="build/logs/testdox.html"/>
    <testdoxText outputFile="build/logs/testdox.txt"/>
  </logging>
</phpunit>
